<div class="jumbotron">
  <h1>Word List</h1>
</div>
<% @dictionary.each_key do |key| %>
  <div class="well">
    <h2 class="well_label"><%=key%></h2>
    <ul>
      <% @dictionary[key].each do |word| %>
        <li><a href="output/<%= word.word %>"><%= word.word %></a></li>
      <%end%>
    </ul>
  </div>
<%end%>
